 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html {
     scroll-behavior: smooth;
     height: 100%;
     background-color: gray;
 }
 
 //  style a in general
 a {
     transition: 0.3s;
     color: #212324;
 }
 
 a:hover {
     color: rgb(206, 92, 111);
 }
 
 a:focus,
 a:hover {
     outline: 0 solid;
     text-decoration: none;
 }
 
 // style container in general
 .logo {
     border: 1px solid greenyellow;
     background-color: grey;
     img {
         width: 10rem;
         height: auto;
     }
 }
 
 @import './mixin/mixin.scss';
 @import './mixin/header';
 @import './mixin/about';
 @import './mixin/contact';
 @import './mixin/footer';
 @import './mixin/style';
 @import './mixin/intro';
 @import './mixin/product';
 @import './mixin/footer';
 // Extra small devices (portrait phones, less than 576px)
 // No media query for `xs` since this is the default in Bootstrap
 // Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) {
     h1 {
         font-size: 5rem;
     }
 }
 
 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {}
 
 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {}
 
 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {}