#contactUs {
    background: url(/images/fall-autumn-leaves-abstract-picjumbo-com.jpg);
    background-size: auto;
    text-align: center;
    padding: 2rem;
    .mainContact {
        width: 90vw;
        height: auto;
        .inf {
            margin: 3rem auto;
            justify-content: center;
            a,
            address {
                font-weight: 400;
                font-size: 1.3rem;
            }
        }
        .contact-icon {
            border: 2px solid;
            border-radius: 50%;
            font-size: 40px;
            height: 80px;
            width: 80px;
            margin: 0 auto;
            text-align: center;
            padding-top: 0.5rem;
            color: orange;
            &:hover {
                color: white;
                background-color: orange;
            }
            margin: 1.5rem auto;
        }
        #form-message {
            margin-top: 2rem;
        }
    }
    .mapouter {
        position: relative;
        text-align: right;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
    }
}

h2 {
    margin: 2rem auto;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: green;
}